@import "tailwindcss";

/* .active {
    background-color: #1d293d;
    color: #a50036;
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 0.375rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
} */